.yarn/*
!.yarn/releases
!.yarn/plugins

# Ignore all build output
/dist
/build

# Node dependencies
node_modules/

# IDE/editor settings
.vscode/
.idea/

# Prevent npm's lockfile from being committed
package-lock.json